/* indefinidos */
.equipe{
    padding-bottom: 35px;
}
.integrantes{
    padding-top:50px;    
}
#caixa{
	width: 500px;
	height: 500px;
}
.invalido {
    color: red;
}
/* indefinidos */



/* ---- INICIO DO SLIDE ---- */
.slides{
	height:60%;
}
.slider .slides li .caption{
    top: 20%;
}
.slider .slides li .caption, .texto-do-slide{
    color: #E5E5E5;
    text-shadow: 1px 1px 1px black;
}
.slider .indicators .indicator-item.active {
	background-color: #2f4f4f;
}
.espacamentoSuperior{
    margin-top: 95vh;
}
.indicator-item active{
	background-color: #263238
}	
.indicator-item{
	background-color: #263238
}
/* ---- FIM DO SLIDE ---- */



/* ---- INICIO DO LOGO ---- */
#logo {
    padding: 10px 7px 5px 12px;
}
.brand-logo{
	left: %;
}

.logo{
	width: 60px;
	margin: 5px;
	margin-left: 20px;
}
	
/* ---- FIM DO LOGO ---- */



/* ---- INICIO DO FOOTER ---- */
.page-footer {
	background-color: #2F4F4F;
    margin-top: 15px;
	clear: both;
}
.footer{
    background-color: black;
}
.footer-copyright{
    background-color: black;
}
/* ---- FIM DO FOOTER ---- */ 



/* ---- INICIO DO NAVBAR ---- */ 
#navbar {
	background-color: #2F4F4F;
}
.navbar-fixed {
  z-index: 998;
}
.dropdown-content.active {
	margin-top: 64px;
}
#dropdown2 a{
	color: #2F4F4F;
}
#avatarnavbar{
    float: right;
    margin: -34% -5% 0% 10%;
}
#avatarnavbarlogado{
    float: right;
    margin: -74% -9% 0% 10%;
}
#dropdown3 a{
	color: #2F4F4F;
}

#dropdown3{
	width: 185px;
}
#dropdown3 li a {
	text-align: center;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
	margin-top: 5%;
}
/*MOBILE*/.side-nav, background, white-text name {
    background-color: #fff;
}
/* ---- FIM DO NAVBAR ---- */ 



/* ---- INICIO DO DEPOIMENTO ---- */ 
#depoimentos, #novodepoimento{
	position: relative;
    left: 28%;
    margin-right: 50%;
    
}
.estilodepo{
	width: 65%;
	display: inline-block;
	border: 6% solid #c3c3c340;
	background-color: #c3c3c340;
	border-radius: 1%;
	padding: 5%;
	margin: 4%;
	word-break: break-all;
}
.bordacomentario a {
	float: right;
    margin-top: 5%;
	color: #B22222;
	cursor: pointer;
}
.bordacomentario h5 {
	padding-right: 10%;
}
#punico{
	padding: 1%;
    margin-top: -3%;
}
textarea {
    width: 65%;
    height: 1%;
	margin-left: 4%;
    border-radius: 2%;
}
/* ---- FIM DO DEPOIMENTO ---- */



/* ---- INICIO LOGIN ---- */
#cadastrarUsuario{
	height: 533px;
	width: 27%;
	float: right;
	background-color: #c3c3c340;
	border-radius: 2%;
	margin-right: 19%;
	margin-top: 1%;
}
#loginUsuario {
	width: 27%;
	height: 300px;
	background-color: #c3c3c340;
	border-radius: 2%;
	margin-left: 19%;
	float: left;
	margin-top: 3%;
}
/* ----- FIM DO LOGIN ----- */



/* --- INICIO DO EDITAR PERFIL --- */
#editForm{
	margin-left: 10%;
	margin-right:50%;
	margin: auto;
	width: 400px;
	margin-top: 2%;
}
#imageuser{
	position: absolute;
    top: 29%;
    left: 70%;
    margin-right: 50%;
}
.slim imageuser{
	margin: auto;
}
/* --- FIM DO EDITAR PERFIL --- */